<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Spring Boot 기본 콘솔 설정 포함 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- ✅ info 로그 -->
    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/ubuntu/backend/logs/service/user-service/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/home/ubuntu/backend/logs/service/user-service/info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- ✅ error 로그 -->
    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/ubuntu/backend/logs/service/user-service/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/home/ubuntu/backend/logs/service/user-service/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- ✅ external 로그 -->
    <appender name="EXTERNAL_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/ubuntu/backend/logs/service/user-service/external.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/home/ubuntu/backend/logs/service/user-service/external.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- ✅ 커스텀 로거 연결 -->
    <logger name="infoLogger" level="INFO" additivity="false">
        <appender-ref ref="INFO_LOG"/>
    </logger>

    <logger name="errorLogger" level="ERROR" additivity="false">
        <appender-ref ref="ERROR_LOG"/>
    </logger>

    <logger name="externalLogger" level="INFO" additivity="false">
        <appender-ref ref="EXTERNAL_LOG"/>
    </logger>

</configuration>
